.node {
  width: 25px;
  height: 25px;
  border: 2px solid rgb(175, 216, 248);
  display: inline-block;
  box-sizing: border-box;
  user-select: none;
  background-color: aliceblue;
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-visited {
  background-color: rgba(0, 190, 218, 0.75);
}

.node-shortest-path {
  background-color: rgb(255, 254, 106);
}
